{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
  <title>MyApp</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
</head>

<body>
  <button><a href="/home">Users home</a></button>
  <button><a href="/geoapi">Geo-API</a></button>
  <button><a href="/counter">Counter</a></button>
  <button><a href="/swapi">Starwars API Select</a></button>
  {% include 'listings/includes/messages.html' %}
  {% block baseHTMLContent %}
  {% endblock %}

</body>

</html>