{% extends 'listings/baseHTML.html' %}

{% block baseHTMLContent%}
<h1>Users</h1>
<p> Les utilisateurs enregistrés sont au nombre de {{users|length}}:</p>
<ul>
  {% for user in users %}
  <li> <a href="{% url 'detail' user.id %}">id#{{user.id}} : {{user.firstName}} {{user.lastName|upper}}</a>
    <button><a href="{% url 'update' user.id %}">Modifier</a></button>
    <button><a href="{% url 'delete' user.id %}">Supprimer</a></button>
  </li>
  {% endfor %}
</ul>
<div>
  <button><a href="{% url 'add' %}">Add user</a></button>
</div>
<h1>Projects</h1>
<p> Les projets enregistrés sont au nombre de {{projects|length}}:</p>
<ul>
  {% for project in projects %}
  <li> id#{{project.id}} : {{project.name|upper}}
  </li>
  {% endfor %}
</ul>


{% endblock %}