html {
  background: rgb(70, 162, 232)
}

.button {
  background: rgb(211, 49, 95);
  align-items: center;
  padding: 0.8rem
}

.buttonContainer {
  text-align: center;
}

f.errorlist {
  margin-bottom: -10px
}

.counter {
  background: hsl(0, 0%, 100%);
  border: 1rem
}